/* 
.stock_grid{
    background-color:lightcyan;
    border-radius: 30px;
    
}
.not_grid{
    background-color: cornsilk;
    border-radius: 30px;
}
.alert_grid{
    background-color: rgb(233, 169, 169);
    border-radius: 30px;
}
.po_grid{
    background-color:rgb(104, 218, 218) ;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}       
.summary_grid{
    background-color: rgb(157, 156, 223);
    border-radius: 30px;
} */

.po {
    display: flex;
    gap: 5%;
    text-align: left;
    width: 100%;
    height: 70px;
  }
  .po_cards {
    background-color: white;
    height: 50%;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
  }
  .stock_div {
    width: 100%;
    height: 70px;
  }
  