.customAppBar {
  border-bottom: 4px solid white;
  /* margin: 7px; */
}

.img {
    width: 45px;
    height: 45px;
    
}
.title {
  color: "white";
  font-size: "20px !important";
  margin-left: "15px";
  padding-left: "15px";
  white-space: "nowrap";
  font-weight: "400";
  font-family: "Roboto","Helvetica","Arial",sans-serif;;
}
.iconbutton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login_person {
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridcontainer {
  display: flex;
  align-items: "center";
  justify-content: flex-end;
}
.alerts{
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
    margin-right: 4%;
}
.icon{
  color: inherit;
}