body {
  margin: auto;
}
.data_table_global table thead.MuiTableHead-root {
  border-top: 5px solid #3a67d9;
  font-size: 1rem;
  font-weight: 800;
}
.data_table_global table thead.MuiTableHead-root th {
  font-size: 0.9rem;
  font-weight: 700;
  color: #3a67d9;
  height: 25px;
  padding: 10px 10px;
  box-shadow: 0px 3px 3px -3px rgba(92, 92, 92, 0.75);
  -webkit-box-shadow: 0px 3px 3px -3px rgba(92, 92, 92, 0.75);
  -moz-box-shadow: 0px 3px 3px -3px rgba(92, 92, 92, 0.75);
  background-color: #fff;
}
.data_table_global table tbody tr td.css-1ex1afd-MuiTableCell-root {
  text-align: left;
  padding: 0px 15px;
  color: rgba(0, 0, 0, 0.87);
  height: 25px;
}
.data_table_global table tbody tr:nth-child(even) {
  background-color: #e9effd;
}
.search_field .css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8px 10px;
}

button.btn_general {
  margin: 0 !important;
  color: #fff !important;
  font-weight: 600;
}
.css-1d6wzja-MuiButton-startIcon {
  margin-right: 0 !important;
}

.tableRow {
  height: 0px;
  padding: 0px;
}
